.global {
    flex: 0.4;
    border-right: 1px solid #e2e2e2;
    min-width: fit-content;
    overflow-y:scroll;
    
}

.global_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 25px solid white;
    padding: -20px;
    margin-top: -10px;
}

.global_header h2 {
    font-size: 20px;
    font-weight: 660;
    background-color: white;
}